*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header{
    background-color: aquamarine;
    height: 100px;
}

form{
    display: flex;
    align-items: center;
    height: 100px;
}


.set-section{
    margin: 20px;
}
