*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #201c1c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Header */
header{
    background-color: #201c1c;
    
}
.img-set nav{
    display: flex;
}
.img-set nav a{
    list-style-type: none;
    color: white;
    padding: 10px;
    text-decoration: none;

}
.img-set nav a:hover{
    border-bottom: 2px solid red;
}
/* SEZIONE IMAGE NETF */
.img-set{
    display: flex;
    align-items: center;
    width: 50%;
}


.img-set img{
    height: 50px;
    padding: 10px;
    margin: 10px;
}



/*  */
form{
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
    align-items: center;
}



.set-input-button {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 20%;
}
.set-input-button p{
   color: white;
}
.set-input-button p:hover{
    border-bottom: 2px solid red;
    padding-bottom: 10px;
}

.set-input-button input{
   background-color: black ;
    color: white;
    border: 1px solid whitesmoke;
    padding: 6px 20px;
    opacity: 0.5;
    
}

.set-input-button button{
    border: none;
    background-color: #201c1c;
    cursor: pointer;
    
}



/* main */


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px;
}

.set-section{
    /* border: 2px dotted gray; */
    color: white;
    width: 200px;
    margin: 20px;
    height: 350px;
    background-color: black;
    position: relative;
    border-radius: 20px;
    
}


.img-post{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Setto div con card content */
.card-content{
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    /* non fa uscire il testo dalla card e fa lo scroll*/
    overflow: scroll;
    
    /* setto none e anche a img:hover e block alla set-section:hover .card-content */
    display: none; 
    border-radius: 20px;
}

.img-post:hover {
    display: none;
}

.set-section:hover .card-content{
    display: block;
    box-shadow:
    inset 0 -3em 3em rgba(248, 89, 89, 0.397),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}


/* set h5 e p */
.card-content h5 {
    padding: 5px;
}
   

.card-content p {
    padding: 5px;
}






/* CONDIZIONE CSS FILM E SERIE TV*/
.set-nofilm{
    text-align: center;
    color: whitesmoke;
}
.set-nofilm p{
    color: gray;
    margin-top: 10px;
}

.set-nofilm ul{
    color: gray;
    list-style-type: none;
}


.set-title {
    display: flex;
    justify-content: center;
    color: white;
}

